.container{
    width: 100%;
    margin: 220px auto;
    text-align: center;
    position: absolute;
}
#banner span{
  font-size: 60px;
}
#clock{
    width:100px;
    height:20px;
    background-color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 5px;
    position: relative;
    text-align: center;
    margin: 50px auto;
    text-align: center;
}